<section class="bg-primary text-white mb-0" id="about">
  <div class="container">
    <h2 class="text-center text-uppercase text-white">About</h2>
    <hr class="star-light mb-5">
    <%= image_tag("secrets.jpg", :class => "img-fluid mb-5 center-block mx-auto", width: '200px') %> <br><br>
    <div class="row">
      <p class="lead"> Top Gossip lets you post gossip publicly.</p>
      <p class="lead">Anyone can read the gossip board, but you'll have to sign up if you want to see who wrote the posts, or to post something yourself. </p>
    </div>
  </div>
</section>
