<section class="bg-primary text-white mb-0" id="about">
  <div class="container">
    <h2 class="text-center text-uppercase text-white">About</h2>
    <hr class="star-light mb-5">
    <%= image_tag("secrets.jpg", :class => "img-fluid mb-5 center-block mx-auto", width: '200px') %> <br><br>
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead"> Top Gossip lets you post gossip publicly.</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead">Anyone can read the gossip board.</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead">But signed-in users get special privileges: they can post gossip themselves, and they can see the authors of the gossip. The names are only anonymous for non-signed-in users. </p>
      </div>
    </div>
  </div>
</section>
