<% provide(:title, "Log In") %>

<div class="container" id="login_container">
  <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <div class="form-login">
					<h4>Welcome back.</h4>
					<%= form_for(:session, url: login_path) do |f| %>
						<%= f.text_field :email, class: "form-control input-sm chat-input", placeholder: "email"%><br>
						<%= f.password_field :password, placeholder: "password", class: "form-control input-sm chat-input"%><br>
						<%= f.submit "Log In", class: "btn btn-primary btn-md" %>
					<% end %>
        </div>
      </div>
    </div>
</div>
