@import 'bootstrap-sprockets';
@import 'bootstrap';

#login_container, #about {
  padding-top: 120px;
}

#flash {
  margin-top: 90px;

}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
